<h2>Add Pokemon</h2>

<form action="/pokemon/new" method="post">

  <label>Name of Pokemon:</label>
  <input name="pokemon[name]">
<br>
  <label>Pokemon Power:</label>
  <input name="pokemon[cp]">
<br>
  <label>Pokemon Type:</label>
  <input name="pokemon[poke_type]">
<br>
  <label>Pokemon Picture URL:</label>
  <input name="pokemon[img_url]">
<br>
  <input type="submit" value="create">
</form>
<br>
<br>
<a href='/pokemon'>Pokedex Inventory</a><br>
